body {
	z-index: 100;
	position: relative;
	background-color: #fff;
	overflow-x: hidden;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 3.5rem;
	overflow: hidden;
	z-index: 10;
	transform: translate3d(0, 0, 0);
	transition: transform 0.3s ease-in 0s;
}

a {
	text-decoration: none;
}

a {
	background-color: transparent;
}

h1 {
	display: block;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

/* ------------------   header   ------------------*/
.header-sidebar-menu {
	background: url(../img/menu-right.png);
	background-size: cover;
	width: 30px;
	height: 50px;
	float: left;
	position: absolute;
	left: 1rem;
	top: 50%;
	width: 1.5rem;
	height: 1.5rem;
	transform: translate(0, -50%);
	font-family: 'iconfont-archer';
	color: #fff;
	text-align: center;
	line-height: 1.5rem;
	z-index: 21;
	cursor: pointer;
}

.header-sidebar-menu:hover {}

.home-link {
	float: right;
	position: absolute;
	right: 2.5rem;
	top: 50%;
	transform: translate(0, -50%);
	font-family: "Oswald-Regular";
	color: #fff;
	cursor: pointer;
}

.home-link:hover {
    color: #f75357;
}

.home-page {
	background-size: cover;
	float: right;
	position: absolute;
	right: 1.2rem;
	top: 80%;
	width: 1.5rem;
	height: 1.5rem;
	transform: translate(0, -50%);
	color: #CCCCCC;
	text-align: center;
	line-height: 1.5rem;
	z-index: 21;
	cursor: pointer;
	font-size: 1.5rem !important;
}

.home-page:hover {
	color: #f75357;
}

/* ------------------   wrapper   ------------------*/
.wrapper {
	z-index: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s ease-in 0s;
	transform: translate3d(0, 0, 0);
	position: relative;
	box-shadow: -3px 0 2px 0 rgba(0, 0, 0, 0.6);
}

.site-intro {
	height: 30vh;
	position: relative;
	z-index: 3;
	width: 100%;
	overflow: hidden;
}

.site-intro-img {
	background-image: url(../img/index-bg.jpg);
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	height: calc(100% + 1px);
	width: 100%;
	filter: brightness(0.5);
	-webkit-filter: brightness(0.5);
	-moz-filter: brightness(0.5);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: transparent;
}

.site-intro-meta {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.intro-fade-in {
	opacity: 1;
	transform: translate(0, 0);
}

.intro-title {
	font-size: 4rem;
}

.intro-title,
.intro-subtitle {
	font-family: "Oswald-Regular";
	color: #fff;
	margin: 0;
	transition: all 0.5s ease-out 0s;
}

.intro-subtitle {
	font-size: 1.3rem;
	transition-delay: 0.5s;
}

/* ------------------   container   ------------------*/
.container {
	display: flex;
	padding: 3rem 0 0 0;
	position: relative;
	background-color: #fff;
	top: 0;
	left: 0;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	transition: all 0.5s ease-out 0s;
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

/* ------------------   profile   ------------------*/
.profile {
	order: 0;
	vertical-align: top;
	flex-shrink: 0;
	margin: 4px 0 0 0;
	width: 200px;
	font: 1rem "Oswald-Regular";
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 0.5rem;
}

.profile * {
	color: #777;
}

.profile-avatar {
	display: block;
	border-radius: 1rem;
	width: 100%;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
}

.profile-name {
	font-size: 2rem;
	line-height: 3rem;
	padding: 0.5rem 0 0 0;
	color: #333;
	text-align: center;
}

.profile-signature {
	font-size: 1rem;
	text-align: center;
}

.profile-social {
	position: relative;
	width: 100%;
	line-height: 1.7rem;
	padding: 0.5rem 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}

.profile-social .iconfont {
    position: relative;
}

.profile-social .iconfont::before {
    display: inline-block;
    font-size: 1.6rem;
    margin: 0 .4rem 0 0;
}

.icon-email:before {
    font-size: 1.3rem !important;
}

.profile-social .icon-email:hover::before {
    color: #0cb49d;
}

.icon-github {
	top: 0.1rem;
}

.profile-social .icon-github:hover::before {
    color: #24292e;
}

.about-me {
	padding: 0.5rem 0;
	text-align: center;
}

.about-me a {
	font-size: 1.2rem;
	font-weight: bold;
}

/* ------------------   main   ------------------*/
.main {
	order: 1;
	width: 50%;
	min-width: 42.8125rem;
	flex-grow: 0;
	padding: 0 0 0 0;
	margin-left: 3rem;
}

.index-post {
	position: relative;
	padding: 1rem 0rem 1rem 0rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 3;
}

.abstract-title {
	line-height: 2.5rem;
	color: #787878;
	padding-bottom: 0.5rem;
}

.abstract-title span:last-of-type {
	transition: color 0.1s ease-in;
	font-size: 1.7rem;
}

.abstract-title span:last-of-type:hover {
    color: #f75357;
}

.abstract-content,
.article-entry {
	position: relative;
	padding: 1px 0;
	color: #919191;
	font-size: 1rem;
	line-height: 1.6rem;
	font-weight: lighter;
	word-break: break-word;
}

.abstract-post-meta {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0 0 0;
	font-family: "Oswald-Regular";
	color: #aaa;
	height: 1.5rem;
}